{% extends 'base.html' %}

{% block conteudo %}

<h1 xmlns="http://www.w3.org/1999/xhtml" class="pagina_cad_jogo">Cadastrar jogos</h1>
<div class="div_cadastro_jogo_pai">
    <div class="add_jogo_div">
        <div class="title_cad_jg">Cadastro de Jogo</div>
        <div class="form_dados">
            <form action="{{url_for('post_jogos')}}" method="post" class="add_jogo">

                <input type="text" name="form_titulo" id="form_title" placeholder="Titulo do jogo"><br>


                <input type="date" name="form_ano_lancamento" required placeholder="Ano de lançamento"><br>


                <input type="text" name="form_descricao" required placeholder="Descrição"><br>


                <input type="url" name="form_url_img" required placeholder="Url da imagem"><br>
                <div class="opicoes_container">
                    <label for="Genero">Gênero</label><br>

                    <select name="form_genero" id="Genero" class="opicoes">
                        {% for genero in var_generos %}
                        <option value="{{ genero.id_genero }}"> {{genero.nome}}</option>
                        {% endfor %}
                    </select>
                    <label for="Desenvolvedora">Desenvolvedora</label><br>
                    <select name="form_desenvolvedora">
                        {% for desenvolvedora in var_desenvolvedoras %}
                        <option value="{{ desenvolvedora.id_desenvolvedoras}}"> {{desenvolvedora.nome_desenvolvedora}}
                        </option>
                        {% endfor %}
                    </select>
                    <label for="Plataforma">Plataforma</label>
                    <select name="form_plataforma">
                        {% for plataforma in var_plataformas %}
                        <option value="{{plataforma.id_plataforma}}"> {{plataforma.nome}}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="botao_jogo">SALVAR</button>
            </form>
        </div>
    </div>
</div>
{% endblock conteudo %}